<!-- Liens institutionnels -->
<div class="sidebar-item folder mt-4" data-bs-toggle="collapse" data-bs-target="#institutional-links" role="button">
    <button class="btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#institutional-links" aria-expanded="false">
        <i class="bi bi-chevron-right"></i>
    </button>
    <i class="bi bi-globe sidebar-icon"></i>
    <span class="folder-name">Liens institutionnels</span>
</div>

<!-- Liens institutionnels contenus -->
<div class="collapse" id="institutional-links">
    <div class="sidebar-item file" style="margin-left: 20px;">
        <a href="https://www.mutualite.fr/" target="_blank" class="file-link">
            <i class="bi bi-link-45deg sidebar-icon"></i>
            <span>Fédération nationale de la Mutualité Française</span>
        </a>
    </div>
    <div class="sidebar-item file" style="margin-left: 20px;">
        <a href="https://www.ameli.fr/" target="_blank" class="file-link">
            <i class="bi bi-link-45deg sidebar-icon"></i>
            <span>ameli</span>
        </a>
    </div>
</div>
